.col-centered {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.img-centered {
    margin-left: auto;
    margin-right: auto;
}

#preview-pane {
    display: block;
    z-index: 2000;
    padding: 6px;
}

#preview-pane .preview-container {
    overflow: hidden;
}